In [73]:
import pandas as pd
import math
import openpyxl
import xlsxwriter

In [74]:
df = pd.read_excel('IAC4-data_train.xlsx')

In [75]:
actors = set()
for index,row in df.iterrows():
    y= row['actors']
    if(pd.notnull(y)):
        x= y.split(',')
        actors.update(list(x))

In [76]:
actors1 = dict.fromkeys(actors, 0)

for index,row in df.iterrows():
    y = row['actors']
    if(pd.notnull(y)):
        a= y.split(',')
        for i in range(len(a)):
            actors1[a[i]] += row['Net Gross']

In [77]:
for index,row in df.iterrows():
    sum = 0
    y = row['actors']
    if(pd.notnull(y)):
        a = y.split(',')
        for i in range(len(a)):
            sum = sum+actors1[a[i]]
    df.loc[index,'actors']=sum

In [80]:
actors1['Robert Downey Jr.']

1325758732

In [81]:
production = set()
for index,row in df.iterrows():
    y = row['production']
    if(pd.notnull(y)):
        a = y.split(',')
        production.update(list(a))

In [82]:
director = set()
for index,row in df.iterrows():
    y = row['director']
    if(pd.notnull(y)):
        a = y.split(',')
        director.update(list(a))

In [83]:
len(production)
production1 = dict.fromkeys(production, 0)
len(production1)
for index,row in df.iterrows():
    y = row['production']
    if(pd.notnull(y)):
        a= y.split(',')
        for i in range(len(a)):
            production1[a[i]] += row['Net Gross']

In [84]:
director1 = dict.fromkeys(director, 0)

for index,row in df.iterrows():
    y = row['director']
    if(pd.notnull(y)):
        a= y.split(',')
        for i in range(len(a)):
            director1[a[i]] += row['Net Gross']

In [86]:
for index,row in df.iterrows():
    sum = 0
    y = row['director']
    if(pd.notnull(y)):
        a = y.split(',')
        for i in range(len(a)):
            sum = sum+director1[a[i]]
    df.loc[index,'director']=sum

In [87]:
for index,row in df.iterrows():
    sum = 0
    y = row['production']
    if(pd.notnull(y)):
        a = y.split(',')
        for i in range(len(a)):
            sum = sum+production1[a[i]]
    df.loc[index,'production']=sum

In [91]:
df.loc[100]

movie_id                                                              tt0195685
title                                                           Erin Brockovich
plot                          An unemployed single mother becomes a legal as...
movie_rating                                                                  R
movie_rating.1                                                              7.3
metacritic                                                                   73
dvd_release                                                 2000-08-15 00:00:00
production                                                           5248432636
actors                                                                411705292
movie_votes                                                              144335
director                                                              172561629
release_date                                                2000-03-17 00:00:00
runtime                                                                 131 min
genre                                                          Biography, Drama
awards                           Won 1 Oscar. Another 31 wins & 58 nominations.
keywords                      environmental-issue|contamination|working-sing...
Budget                                                                 52000000
Box Office Gross                                                      125595205
Net Gross                                                              73595205
Budget After Inflation                                                7.384e+07
Box Office After Inflation                                          1.78345e+08
Net Gross After Inflation                                           1.04505e+08
Gross Ratio                                                             2.41529
Profit Class                                                                  3
Name: 100, dtype: object

In [92]:
df.to_excel('updated_test_train.xlsx')

In [97]:
df.loc[df['title']=='Titanic']

,movie_id,title,plot,movie_rating,movie_rating.1,metacritic,dvd_release,production,actors,movie_votes,...,awards,keywords,Budget,Box Office Gross,Net Gross,Budget After Inflation,Box Office After Inflation,Net Gross After Inflation,Gross Ratio,Profit Class
22,tt0120338,Titanic,A seventeen-year-old aristocrat falls in love ...,PG-13,7.7,74.0,2012-09-10,1864872971,2100725525,847267.0,...,Won 11 Oscars. Another 110 wins & 74 nominations.,ship|iceberg|main-character-dies|one-word-titl...,200000000,658672302,458672302,306000000.0,1.007769e+09,7.017686e+08,3.293362,3.0